pca-server/cfn/lib/pca-definition.json
{
  "Comment": "Post-Call Analytics Workflow with Transcribe and Comprehend",
  "StartAt": "TranscribeAudio",
  "States": {
    "TranscribeAudio": {
      "Comment": "Sends the file in S3 for Transcription",
      "Type": "Task",
      "Resource": "${SFStartTranscribeJobArn}",
      "Retry": [{
          "IntervalSeconds": 5,
          "ErrorEquals": ["Lambda.Unknown"]
      }],
      "Next": "TranscribeStarted?"
    },
    "TranscribeStarted?": {
      "Type": "Choice",
      "Comment": "If a job was not started then we need to quit this workflow",
      "Choices": [
        {
          "Variable": "$.jobName",
          "StringEquals": "",
          "Next": "TranscriptionFailed"
        }
      ],
      "Default": "WaitForMainTranscribe"
    },
    "WaitForMainTranscribe": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName":"${SFAwaitNotificationArn}",
        "Payload":{
          "Input.$": "$",
          "TaskToken.$":"$$.Task.Token"
        }
      },
      "Retry": [{
          "IntervalSeconds": 5,
          "ErrorEquals": ["Lambda.Unknown"]
      }],
      "Next": "TranscribeComplete?",
      "Catch": [
      {
        "ErrorEquals": [ "States.ALL" ],
        "Next": "TranscriptionFailed"
      }
      ]
    },
    "TranscribeComplete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.transcribeStatus",
          "StringEquals": "COMPLETED",
          "Next": "ProcessTranscription"
        },
        {
          "Variable": "$.transcribeStatus",
          "StringEquals": "RETRY",
          "Next": "TranscribeAudio"
        }
      ],
      "Default": "TranscriptionFailed"
    },
    "ProcessTranscription": {
      "Comment": "Takes the output from Transcribe and creates the initial results processing",
      "Type": "Task",
      "Resource": "${SFProcessTurnArn}",
      "Retry": [{
          "IntervalSeconds": 5,
          "ErrorEquals": ["Lambda.Unknown"]
      }],
      "Next": "Success"
    },
    "TranscriptionFailed": {
      "Comment": "Transcription failed, tidy up resources and move source audio to failed folder",
      "Type": "Task",
      "Resource": "${SFTranscribeFailedArn}",
      "Retry": [{
          "IntervalSeconds": 5,
          "ErrorEquals": ["Lambda.Unknown"]
      }],
      "Next": "Failed"
    },
    "Failed": {
      "Type": "Fail",
      "Cause": "Error launching or processing Transcribe job."
    },
    "Success": {
      "Type": "Pass",
      "End": true
    }
  }
}
